*,
*:before,
*:after {
	box-sizing: border-box;
}

.text-editor {
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    border-radius: 10px;
}

.edit-list {
    background-color: #ecf0f1;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding-left: 15px;
	margin: 0px;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
}

.edit--btn {
    background-color: transparent;
	display: block;
	border: none;
	padding: .5rem;
	font-size: 18px;
    cursor: pointer;
}

#content {
	min-height: 450px; 
    border: 1px solid #ecf0f1;
	padding: 20px;
}

.buttons {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.buttons button {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    border-style: outset;
    cursor: pointer;
}

button + button {
    margin-left: 12px;
}

.header-text {
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Florence, cursive;
}

.footer {
    margin-top: 20px;
    position: relative;
    color: white;
    background-color: rgb(4, 83, 230);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px groove rgb(2, 51, 134);
}

.footer-img {
    margin-left: 20px;
    position: absolute;
    left: center;
    max-width: 120px;
    max-height: 120px;
    opacity: 0.85;
}

.figcaption {
    margin-left: 20px;
    position: absolute;
    left: center;
    margin-top: 55px;
    font-size: 21px;
    font-family: Florence, cursive;
    text-shadow: 8px 5px 6px black;
}